.cartProduct {
    background-color: white;
    height: 200px;
    width: 30vw;
    /* width: 200px; */
    display: flex;
    padding-top: 40px;
    padding-bottom: 10px;
    /* overflow: scroll; */
}

.cartProduct__img img{
    object-fit: contain;
    height: 100%;
    width: 200px;
    /* margin: 10px 10px 10px 10px; */
}

.cartProduct__info{
    margin-top: 20px;
    display: flex;
    /* justify-content: space-between; */
    margin-left: 40px;
    font-family: "Gill Sans", sans-serif;
    width: 90%;
    /* overflow-wrap: break-word; */
    /* position: absolute; */
}


.cartProduct__infoName {
    color: #282c34;
    width: 100%;
    overflow-wrap: break-word;

}


.cartProduct__infoPrice h3{
    /* margin-left: 330px; */
    float: right;
    right: 0px;
    overflow-wrap: break-word;

    /* position: absolute;
right: 10px; */
/* top: 5px; */
}

@media screen and (max-width: 689px){
    .cartProduct{
        display: table;
        /* margin-left: 10px; */
        /* padding-left: 10px; */
    }

    .cartProduct__info {
        margin-left: 0px;
        justify-content: space-between;
    }

    .cartProduct__infoPrice {
        right: 0px; 
    }
}

@media screen and (max-width: 390px){
    .cartProduct__img img {
        width: 50vw;
    }
}