.header{
    width: 100%;
    background-color: #282c34;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    object-fit: contain;
    justify-content: space-around;
    overflow: auto;
  }

.header__image>img{
    width: 100px;
    background-color: #282c34;
    border-radius: 100px;
    /* margin-top: 15px; */

      
}

.header__image {
  background-color: #282c34;
} 

.header__search {
  display: flex;
}
.header__search input{
    border: none;
    /* outline-color: #ff9d6f; */
    outline-style: none;
    font-size: 18px; 
    padding-top: 5px;
    padding-bottom: 5px;
    width: 500px;
    max-height: 33px;
    /* margin-top: 20px; */
    border-radius: 4px 0px 0px 4px;

}  
.header__search>button
{
    font-size: 15px; 
    background-color: #f5aa87;
    outline: #ff9d6f;
    border: none;
    cursor: pointer;
    width: 35px;
    border-radius: 0px 4px 4px 0px;
}
@media screen and (max-width: 800px) {
    .header__search>input{
      width:70%;
    }

    .header__image {
      size: 10px;
    }
}
.header__cart>h4{
    color:#f5aa87;
}
.header__cart>p
{
    color: white;
    font-size: 32px;
    size: 50px;
}

a:link, a:visited {
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .header__profile {
    cursor: pointer;
  }
  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}